
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var cities = db.countries.ToList();
}

<div class="homeSearchWrapper " style="outline: none !important;">
    <div class="homeSearch">
        <div class="homeSearchImage">
            <div>
                <div class="bg-search-image "></div>
            </div>

        </div>
        <div class="mainSearchBox">
            <form id="homepagejobsearch" class="cd-form" action="/is-ilanlari" autocomplete="off">

                <div>
                    <h3 class="SearchJobText" style="display:none;">Aradığın İşi Bul!</h3>
                    @using (Html.BeginForm("Index", "JobPosts", FormMethod.Post)){
                    <input name="searchSt" type="text" placeholder="Örnek: garson, mühendis, muhasebe..." />
                    <div class="select-cities">
                        <p class="cd-select">
                            <select name="city">
                                <option value="">T&#252;m Şehirler</option>
                                @foreach (var item in cities)
                                {
                                    <option value="@item.countryName">@item.countryName</option>

                                }
                            </select>
                        </p>
                    </div>
                        <input type="submit" class="uni-button-orange" value="Ara" />
                    }

                </div>

            </form>
        </div>
    </div>
 </div>
<div class="lastAddedPosts">
    <div class="container">
        <h2 class="text-center">Son Eklenen İlanlar</h2>
            
    </div>
</div>
