
.uni-button-blue {
    background: #2c97de;
    color: #ffffff;
}
.uni-button-orange {
    background: #f7941d;
    color: #ffffff;
}
.uni-button-darkblue {
    background: #000036;
    color: #ffffff;
}
