.cd-form {
    font-size: 14px;
}

.cd-form input {
    border: 2px solid #ccc;
}
cd-form > div {
    position: relative;
    margin: 20px 0;
}
.cd-form select,textarea {
    border: 2px solid #ccc;
}
.cd-form  textarea {
    border: 2px solid #ccc;
}
.cd-form h2 {
    font-family: "Nunito Sans", Arial, sans-serif;
}
.cd-form h4 {
    font-family: "Nunito Sans", Arial, sans-serif;
}
.cd-form input[type=text] {
    color: #2b3e51;
}
.cd-form .input-group-addon {
    padding: 5px 4px;
}
