
.homeSearchWrapper {
    margin-top: -60px;
    position: relative;
    width: 100%;
}

.homeSearchWrapper {
    outline: none !important;
}

.homeSearchImage .bg-search-image {
    height: 598px;
    background-image: url(/Content/Images/search.png);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    -webkit-background-size: cover;
    margin-top: 50px;
    display: block;
}
.homeSearchWrapper .homeSearch .mainSearchBox .searchSpan {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.homeSearchWrapper .homeSearch .mainSearchBox {
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    background: rgba(0, 0, 0,0.4);
    border-radius: 2px;
    padding: 30px 40px;
    max-width: 1000px;
    font:inherit;
}
.homeSearchWrapper .mainSearchBox .select-cities {
    position: absolute;
    width: 25%;
    top: 1px;
    right: 109px;
    border-left: 1px solid #f2f2f2;
}
.homeSearchWrapper .mainSearchBox .select-cities select{
    padding: 23px 16px;
    padding-left: 16px;
    border-radius: 0;
    border: none;
    padding-left: 35px;
}
.homeSearchWrapper .homeSearch .mainSearchBox div{
    margin:0;
}

.mainSearchBox input {
    border-radius: 2px;
    font-size: 16px;
}

.homeSearchWrapper .homeSearch .mainSearchBox input[type=text] {
    width: 100%;
    padding: 21px 16px;
    padding-right: 16px;
    padding-left: 16px;
    /*padding-right: 150px;
    padding-left: 50px;*/
    position: relative;
    border: none;
}

.homeSearchWrapper .homeSearch .mainSearchBox input[type=submit] {
    position: absolute;
    /*top: 0;
        right: 0;*/
    padding: 21px 40px;
    border-radius: 0 2px 2px 0;
    border: none;
}
#imageSearch {
     align-self: flex-end !important;
     width: 50%;
     position: relative;
     /*z-index:-1;*/
}
.lastAddedPosts {
    padding-top: 25px;
}
    .lastAddedPosts .owl-ilanlar {
        padding-top: 25px;
    }
    .lastAddedPosts .owl-ilanlar .owl-ilanlar-item {
        margin-right: 25px;
        margin-left: 25px;
        padding: 10px;
    }
        .lastAddedPosts .owl-ilanlar .owl-ilanlar-item .image-size3 > img {
            width: 100%;

        }
        .lastAddedPosts .owl-ilanlar .owl-ilanlar-item p span {
            color: #c2c2c2;
            padding: 0px 5px;
        }
        .lastAddedPosts .owl-ilanlar .owl-ilanlar-item .customs-p p {
            line-height: 20px;
            margin: 0px;
        }
        .lastAddedPosts .owl-ilanlar .small-padding-bg:hover a {
            text-decoration: none;
        }

.lastAddedPosts .h3-title {
    background: #fff;
    display: table;
    width: 100%;
    border-radius: 2px;
    border-bottom: 2px solid #000036;
    margin-bottom: 15px;
    padding: 15px 0;
    padding-left: 0px;
    font-weight: 700;
    color: #000036;
    padding-left: 20px;
}
.example-links .title {
    background: #fff;
    display: table;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    border-bottom: 2px solid #000036;
    margin-bottom: 15px;
    padding: 15px 0;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 700;
    color: #000036;
    padding-left: 20px;
}
.example-links ul.links {
    padding: 0 20px;
}

.example-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 25px;
    /*position: absolute;*/
    bottom: 0px;
    height: 30px;
}
    footer .footer-up {
        background-color: #f0f4ed;
        min-height: 40px;
    }

    footer .footer-down {
        background-color: #000036;
        min-height: 30px;
        padding-top: 10px;
    }

        footer .footer-down .footer-link {
            font-size: 10px;
        }

    footer .model {
        padding-top: 10px;
        padding-bottom: 10px;
    }



