
@{
    ViewBag.Title = "Başvuranlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="userTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Kullanıcı ID</th>
                    <th>E-mail</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Başvuru Tarihi</th>
                    <th>Özgeçmişi Görüntüle</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/Scripts/DataTablesJs/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTablesJs/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/DataTablesJs/dataTables.tableTools.min.js"></script>
<script>
    var routeId = @ViewContext.RouteData.Values["id"].ToString();
    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
    }
    $(document).ready(function () {
        $("#userTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            //"pageLength": 5,
            "paging": true,
            "language": {
                "sEmptyTable": "Tabloda mevcut veri yok",
                "sInfo": "_START_ ile _END_ arası _TOTAL_ adet sonuç gösteriliyor.",
                "sInfoEmpty": "0 ile 0 arası 0 adet sonuç gösteriliyor.",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "Sayfa başına _MENU_ adet sonuç göster.",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşlem sürüyor...",
                "sSearch": "Arama:",
                "sZeroRecords": "Arama sonucu bulunamadı.",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Önceki",
                    "sPrevious": "Sonraki"
                },
                "oAria": {
                    "sSortAscending": ": Sütunu artan olarak sırala",
                    "sSortDescending": ": Sütunu azalan olarak sırala"
                }
            },
            "ajax": {
                "url": "/Company/LoadApplicants/" + routeId,
                "type": "POST",
                "datatype": "json",
                "error": function (request, status, error) {
                    console.log(request);
                },
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        return ToJavaScriptDate(row.applyDate);
                    },
                },
                {
                    "targets": [5],
                    "render": function (data, type, row) {
                        var id = row.userAccountID;
                        return '<a  href="/ozgecmisi-goruntule/' + id + '" data-id = "' + id + '" class="companyPosts btn btn-sm btn-success float-center ml-1 text-white" ><i class="fas fa-id-card-alt"></i> Özgeçmişi Görüntüle</a>';
                    },
                },
                ],
            "columns": [
                { "title": "Kullanıcı ID", "data": "userAccountID", "name": "userAccountID", "autowidth": true },
                { "title": "E-mail", "data": "userEmail", "name": "userEmail", "autowidth": true },
                { "title": "Adı", "data": "firstName", "name": "firstName", "autowidth": true },
                { "title": "Soyadı", "data": "lastName", "name": "lastName", "autowidth": true },
                { "title": "Başvuru Tarihi", "data": "applyDate", "name": "applyDate", "autowidth": true },
            ]
        });
    });
</script>
